@media only screen and (max-width: 943px){
    .game-mod-images{
        width: 100%!important;
    }
    .game-mods-section{
        flex-direction: column;
    }
    .game-mod-description{
        width: 100%!important;
        margin-top: 2rem;
        margin-left: 0!important;
        &-header h4{
            font-size: 1.5rem!important;
        }
    }
    .game-mods-section{
        padding: 1rem 1rem!important;
    }
}
@media only screen and (max-width: 767.98px){
    .dots-section{
        margin-top: 1rem!important;
    }
    .down-row-header{
        &-change-text{
            font-size: 3rem;
        }
        &-btn{
            font-size: 1rem;
            padding: 1rem 3rem;
        }
    }
    .social-media-section{
        display: flex;
        justify-content: center;
        align-items: center;
        &-other{
            &-header h4{
                font-size: 1.5rem;
            }
            .social-media-icons{
                font-size: 2rem;
            }
        }
    }
}
@media only screen and (max-width: 629.98px){
    .header-list{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 1.0);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        padding: 4.3rem 1rem;
        z-index: 1;
    }
    .search-section{
        display: none;
    }
    .header-list-item{
        margin: 2rem 0;
        display: block;
    }
    .header-icon-media{
        position: absolute;
        display: block;
        z-index: 1000;
    }
    .down-row-header-change-text{
        font-size: 2rem;
    }
    .down-row-header-btn{
        font-size: 1rem;
        padding: .7rem 2rem;
    }
    .buy-account-modal-container{
        padding: 1rem;
        top: 15%;
        width: 100%;
    }
}
@media only screen and (max-width: 377.98px){
    .social-media-icons{
        margin-right: 1rem!important;
    }
    .game-mod-description{
        border: 1px solid #fa004b;
        border-radius: .2rem;
    }
    .dots{
        width: .7rem!important;
        height: .7rem!important;
    }
}