@font-face {
    font-family: Sora;
    src: url('../fonts/Sora/Sora-Light.ttf') format('ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sora,sans-serif;
}
.pointer{
    cursor: pointer;
}
.active{
    background-color: #fa004b!important;
}
.flex{
    display: flex!important;
}
p{
    text-align: center;
    padding: 0 .4rem;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}