// first Page Styles
$color-primary : #202833;
$color-seconday : #ffd79d;
$color-tertiary : #66FCF1;
$color-fourth : #320d3e;
$color-fifth : #45A29F;
$color-white : #fff;
$color-dark : #1f2833;

@mixin btn-styles ($font-size) {
    outline: none;
    font-size: $font-size;
    font-weight: bold;
    border-radius: .4rem;
    background-color: transparent;
    color: $color-seconday;
    border: 1px solid $color-seconday;
    transition: all .4s;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: $color-dark;
}

body::-webkit-scrollbar-thumb {
    background-color:$color-white;
    border-radius: 15px;
}

body{
    position: relative;
}
.buy-account-modal{
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 1;
    &::before{
        z-index: 9999;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $color-dark, $alpha: .6)
    }
    &-container{
        position: absolute;
        z-index: 10000;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        &-dialog{
            background-color: $color-dark;
            border-radius: 8px;
            &-header{
                .modal-header{
                    padding: .7rem 0;
                    button{
                        box-shadow: none;
                        font-size: 1.3rem;
                    }
                    h3{
                        color: $color-white;
                        text-align: center;
                        font-size: 1.5rem;
                    }
                }
            }
            &-body{
                .modal-body{
                    padding: 2rem 1rem;
                    p{
                        color: $color-white;
                        font-size: 1.3rem;
                        line-height:3rem;
                    }
                    a{
                        color:rgb(190, 190, 190);
                        &:hover{
                            color: $color-tertiary;
                        }
                    }
                }
            }
        }
    }
}
.scroll-top {
    &-container {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 100000;
        display: none;

        .scroll-top-icon {
            background-color: $color-white;
            border-radius: 50%;
            padding: .4rem 1rem;
            color: $color-dark;
            font-size: 2rem;

            &:hover {
                background-color: $color-fourth;
                color: $color-seconday;
            }
        }
    }
}

.navbar-container {
    margin-top: 1.2rem;
}

.header-icon-media {
    display: none;
}

.up-row-header {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    z-index: 1000;
}

.header-list {
    list-style: none;

    &-item {
        display: inline-block;
        padding: 0 1rem;

        &-link {
            color: $color-seconday;
            text-decoration: none;
            transition: all .3s;
            border: 1px solid $color-seconday;
            padding: .5rem .6rem;
            border-radius: .2rem;
            font-weight: bold;

            &:hover {
                text-decoration: none;
                color: $color_seconday;
                background-color: $color-fourth;
            }
        }
    }
}

.header-container {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95));
}

.header {
    background: url('../../img/header-img-contact.jpg') no-repeat center;
    background-size: cover;
}

.image-container {
    .logo {
        width: 60px;
        height: 60px;
    }
}

.down-row-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;

    &-change-text {
        padding: 0 1rem;
        font-size: 4rem;
        font-weight: bold;
        color: $color-seconday;
        margin-bottom: 6rem;
        border-right: 5px solid $color-white;
    }

    &-btn {
        padding: 1.5rem 3.5rem;
        @include btn-styles (1.3rem);
        &:hover {
            transform: scale(.95);
        }
    }
}
.main-container{
    .social-media-section {
        background-color: rgb(22, 22, 22);
        display: flex;
        padding: 2rem 0rem;

        &-other {
            width: calc(100% - 40%);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            &-header {
                margin-bottom: 3rem;
            }

            &-header h4 {
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: bold;
                background-size: 200% auto;
                text-align: center;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #fff;
                background-image: linear-gradient(-225deg,
                        #7860d1 0%,
                        #6f1bc9 29%,
                        #ff1361 67%,
                        #fff800 100%);
                animation: text 2s linear infinite;

                @keyframes text {
                    to {
                        background-position: 200% center;
                    }
                }
            }

            &-icons {
                display: flex;

                .youtube-icon {
                    transition: all .3s;
                    color: #fff !important;

                    &:hover {
                        color: red !important;
                    }
                }

                .twitch-icon {
                    position: relative;
                    color: rgb(255, 255, 255) !important;
                    z-index: 1000;
                    transition: all .3s;

                    &:hover {
                        color: #9147FF !important;
                    }
                }
                .instagram-icon {
                    position: relative;
                    z-index: 1000;
                    color: rgb(255, 255, 255) !important;
                    
                    &:hover::after {
                        width: 90%;
                    }

                    &::after {
                        transition: all .3s;
                        content: '';
                        z-index: -1;
                        width: 0%;
                        height: 70%;
                        position: absolute;
                        border-radius: 20%;
                        top: 6px;
                        left: 2px;
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                    }
                }

                .social-media-icons {
                    font-size: 3rem;
                    margin-right: 2rem;
                }
            }
        }

        &-discord {
            margin-right: 1rem;
            width: 40%;
            display: flex;
            justify-content: center;

            &-iframe {
                width: 100%;
                border-radius: 1px;
                border: none;
                outline: none;
                height: 23rem;
            }
        }
    }

.contact-section{
    padding: 2rem 2rem;
    width: 100%;
    background-color: $color-primary ;
    display: flex;
    justify-content: center;
    align-items: center;
    &-content{
        width: 40%;
        margin-right: 2rem;
        h3{
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
            font-weight: 700;
            color: #66fcf1;
        }
        p{
            font-size: 1.3rem;
            line-height: 1.9rem;
            color: $color-white;
        }
    }
    &-form{
        width: 60%;
        &-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-btn{
                background-color: transparent;
                border: 1px solid $color-tertiary;
                color: #C5C6C8;
                &:hover{
                    background-color:$color-white;
                    border-color: $color-white;
                    color:$color-dark;
                }
            }
            .input-label{
                margin: .7rem;
            }
            &-text-input{
                resize :none;
                height: 30vh;
            }
            &-input{
                padding: .8rem 1rem;
                background-color: transparent;
                outline: none;
                border: 1px solid #C5C6C8;
                border-radius: 5px;
                color: $color-white;
                transition: all .3s;
                &:focus{
                    border-color: $color-tertiary
                }
                &:focus::placeholder{
                    opacity: 0;
                }
                &::placeholder{
                    color:#C5C6C8;
                    transition: all .2s;
                }
            }
        }
    }
}
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    background-color: rgba($color: #000000, $alpha: .9);
    .copyright {
        margin-top: 2rem;

        &-text {
            color: $color-white;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
        }
    }
}