$color-primary : #FF5733;
$color-seconday :#C70039;
$color-tertiary :  #FEC305;
$color-fourth : #910D3F;
$color-fifth : #5A1846;
$color-white :#fff;
$color-dark : #1f2833;

@mixin cardBtnStyles () {
    margin-top: 2rem;
    font-size: 1.3rem;
    background-color: transparent;
    color: $color-white;
    transform: scale(.97);
    border: 1px solid $color-seconday;
    box-shadow: none;
    &:hover{
        background-color: $color-seconday;
    }
}
@mixin cardStyles(){
    padding: 3rem 1rem;
    position: relative;
    h4{
        font-size: 1.6rem;
        color:#fc0047;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.3rem;
        color: rgb(221, 221, 221);
    }
    .price{
        font-size: 1.4rem;
        font-weight: bold;
        color: $color-tertiary;
        margin-top: 1.5rem;
    }
    button{
        @include cardBtnStyles();
    }
    border-radius: 10px;
    width: 50%;
    height: 50vh;
    border: 2px solid $color-fifth;
    position: relative;
    z-index: 1;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: $color-dark, $alpha: .94);
        border-radius: 10px;
        z-index: -1;
    }
}
@mixin btn-styles ($font-size) {
    outline: none;
    font-size: $font-size;
    font-weight: bold;
    border-radius: .4rem;
    background-color: transparent;
    color: $color-white;
    border: 1px solid $color-white;
    transition: all .4s;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: $color-dark;
}

body::-webkit-scrollbar-thumb {
    background-color:$color-white;
    border-radius: 15px;
}

body{
    position: relative;
}
.buy-account-modal{
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 1;
    &::before{
        z-index: 9999;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $color-dark, $alpha: .6)
    }
    &-container{
        position: absolute;
        z-index: 10000;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        &-dialog{
            background-color: $color-dark;
            border-radius: 8px;
            &-header{
                .modal-header{
                    padding: .7rem 0;
                    button{
                        box-shadow: none;
                        font-size: 1.3rem;
                    }
                    h3{
                        color: $color-white;
                        text-align: center;
                        font-size: 1.5rem;
                    }
                }
            }
            &-body{
                .modal-body{
                    padding: 2rem 1rem;
                    p{
                        color: $color-white;
                        font-size: 1.3rem;
                        line-height:3rem;
                    }
                    a{
                        color:rgb(190, 190, 190);
                        &:hover{
                            color: $color-tertiary;
                        }
                    }
                }
            }
        }
    }
}
.scroll-top {
    &-container {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 100000;
        display: none;

        .scroll-top-icon {
            background-color: $color-white;
            border-radius: 50%;
            padding: .4rem .6rem;
            color: $color-dark;
            font-size: 2rem;

            &:hover {
                background-color: $color-fourth;
                color: $color-white;
            }
        }
    }
}

.navbar-container {
    margin-top: 1.2rem;
}

.header-icon-media {
    display: none;
}

.up-row-header {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    z-index: 1000;
}

.header-list {
    list-style: none;

    &-item {
        display: inline-block;
        padding: 0 1rem;

        &-link {
            color: $color-white;
            text-decoration: none;
            transition: all .3s;
            border: 1px solid $color-white;
            padding: .5rem .6rem;
            border-radius: .2rem;
            font-weight: bold;

            &:hover {
                text-decoration: none;
                color: $color-white;
                background-color: $color-fourth;
            }
        }
    }
}

.header-container {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95));
}

.header {
    background: url('../../img/header-img-shop.jpg') no-repeat center;
    background-size: cover;
}

.image-container {
    .logo {
        width: 60px;
        height: 60px;
    }
}

.down-row-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;

    &-change-text {
        padding: 0 1rem;
        font-size: 4rem;
        font-weight: bold;
        color: $color-white;
        margin-bottom: 6rem;
        border-right: 5px solid $color-fourth;
    }

    &-btn {
        padding: 1.5rem 3.5rem;
        @include btn-styles (1.3rem);
        &:hover {
            transform: scale(.95);
            background-color: $color-fourth;
        }
    }
}
.main-container{
    .shop-section{
        &-container{
            background-color: rgba($color: $color-dark, $alpha: .95);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 2rem;
            &-first-row{
                display: flex;
                justify-content: center;
                width: 100%;
                .shop-box:first-child{
                    margin-right: 4rem;
                }
                .shop-box{
                    @include cardStyles();
                    background: url('../../img/vip.png') no-repeat center;
                    background-size: contain;
                }
            }
            &-second-row{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 2rem;
                .shop-box{
                    @include cardStyles();
                    background: url('../../img/vip.png') no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
    .social-media-section {
        background-color: rgb(22, 22, 22);
        display: flex;
        padding: 5rem 0rem;

        &-other {
            width:100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            &-header {
                margin-bottom: 3rem;
            }

            &-header h4 {
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: bold;
                background-size: 200% auto;
                text-align: center;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #fff;
                background-image: linear-gradient(-225deg,
                        #7860d1 0%,
                        #6f1bc9 29%,
                        #ff1361 67%,
                        #fff800 100%);
                animation: text 2s linear infinite;

                @keyframes text {
                    to {
                        background-position: 200% center;
                    }
                }
            }

            &-icons {
                display: flex;
                .discord-icon {
                    transition: all .3s;
                    color: #fff !important;
                    &:hover {
                        color: #5865F2 !important;
                    }
                }
                .youtube-icon {
                    transition: all .3s;
                    color: #fff !important;

                    &:hover {
                        color: red !important;
                    }
                }

                .twitch-icon {
                    position: relative;
                    color: rgb(255, 255, 255) !important;
                    z-index: 1000;
                    transition: all .3s;

                    &:hover {
                        color: #9147FF !important;
                    }
                }
                .instagram-icon {
                    position: relative;
                    z-index: 1000;
                    color: rgb(255, 255, 255) !important;
                    
                    &:hover::after {
                        width: 90%;
                    }

                    &::after {
                        transition: all .3s;
                        content: '';
                        z-index: -1;
                        width: 0%;
                        height: 73%;
                        position: absolute;
                        border-radius: 20%;
                        top: 6px;
                        left: 2px;
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                    }
                }

                .social-media-icons {
                    font-size: 3rem;
                    margin-right: 2rem;
                }
            }
        }
    }
}


.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    background-color: rgba($color: #000000, $alpha: .9);
    .copyright {
        margin-top: 2rem;

        &-text {
            color: $color-white;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
        }
    }
}