@media only screen and (max-width:613px){
    .social-media-section-other-header h4{
        font-size: 1.5rem!important;
    }
    .social-media-icons{
        font-size: 2rem!important;
    }
    .down-row-header-change-text{
        font-size: 2.2rem!important;
    }
    .down-row-header-btn{
        padding: 1rem 3rem!important;
    }
}
@media only screen and (max-width: 628.99px){
    .header-list{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 1.0);
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        padding: 4.3rem 1rem;
        z-index: 1;
        &-item{
            margin: 2rem 0;
            display: block;
        }
    }
    .header-icon-media{
        position: absolute;
        display: block;
        z-index: 1000;
    }
}
@media only screen and (max-width: 880px){
    .buy-account-modal-container{
        padding: 1rem;
        top: 15%;
        width: 100%;
    }
    .vote-section-container-body{
        flex-direction: column;
        .vote-box{
            margin-bottom: 2rem!important;
        }
    }
}
@media only screen and (max-width: 713.98px){
    .down-row-header-change-text{
        font-size: 2.2rem!important;
    }
    .down-row-header-btn{
        padding: 1rem 2rem!important;
    }
    .vote-section-container-header h5{
        font-size: 1.6rem!important;
    }
    .vote-box h5{
        font-size: 1.5rem!important;
    }
}
@media only screen and (max-width:421.98px){
    .social-media-section-other-header h4{
        font-size: 1.2rem!important;
    }
}